.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 300px;
}
/*标题*/
.loginBox h1 {
    text-shadow:0 0 5px;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
}
/*表单*/
.loginBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*输入框*/
.loginBox input{   
    width: 25%;
    height: 20px;
    margin-bottom: 20px;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(22, 8, 61);
}
/*登录按钮*/
.loginBox button {
    width: 20%;
    height: 40px;
    background-color: rgb(84, 49, 179);
    border: none;
    font-size: medium;
    color: rgb(196, 212, 207);
    text-align: center;
    transition: all 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}
.loginBox button:hover {
    background-color: rgb(255, 60, 60);
}