main h1{
    user-select: none;
    text-align: center;
    padding-top: 3%;
    font-family : Trebuchet MS;
}

/*展示框架*/
.show{
    width: 100%;
}
/*左按钮*/
.left{
    float: left;
    position: relative;
    margin: 0;
    width: 5%;
    margin-left: 2%;
    margin-right: 3%;
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    outline: none;
    border: 0px;
    overflow: hidden;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: url(../resources/arrow.png);
}
/*右按钮*/
.right{
    float: right;
    position: relative;
    margin: 0;
    width: 5%;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    outline: none;
    border: 0px;
    overflow: hidden;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: url(../resources/arrow.png);
    transform: rotateY(180deg);
}
/*两个按钮样式*/
.show button:hover{
    cursor: pointer;
}

/*图片框架*/
.imgshow{
    float: left;
    position: relative;
    width: 80%;
    padding-top: 25%;
    padding-bottom: 25%;
    overflow: hidden;
}
.imgshow #imglist{
    list-style-type: none;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}
.imgshow ul li{
    float: left;
    height: 100%;
}
.imgshow img{
    position: relative;
    width: 100%;
    /*居中*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}