body{
    background: rgb(197, 195, 195);
    margin: 8px;
}

/*去除滚动条*/
::-webkit-scrollbar{display: none;}
html{
    -ms-overflow-style:none;
    overflow:-moz-scrollbars-none;
}

/*导航栏*/
.nav a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 50px;
    background-color: rgb(22, 8, 61);
    color: rgb(196, 212, 207);
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.4s;
}
.nav a:hover {
    background: rgb(255, 60, 60);
}
/*均分宽度*/
.nav ul{
    margin: 0 2%;
    padding: 0;
    width: 96%;
    height: 50px;
    border-radius: 5px;
    font-size: 0;
}
.nav ul li{
    display: inline-block;
    line-height: 50px;
    height: 100%;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    user-select: none;
}
.nav ul li img{
    max-width: 100%;
    height: 50px;
    vertical-align: middle;
    pointer-events: none;
}

.drop-down :not(:first-child){
    height: 0;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.4s, height 0.4s;
}
.drop-down:hover *{
    font-size: 18px;
    height: 50px;
    opacity: 1;
}