.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 50px 30px;
  width: 80vw;
  height: 100vh;
  overflow: scroll;
  font-size: 20px;
  line-height: 35px;
}

.container {
  width: 100%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(21, 0, 116);
}
.container ol {
  padding: 0 0 0 20px;
}
.container table {
  margin: 10px auto;
  border-collapse: collapse;
}
.container td {
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
.container h2 {
  margin: 0.83em 0;
}
.container ul {
  margin-left: 2em;
}

.title {
  line-height: 1.2em;
}
.date {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .main {
    font-size: 10px;
    line-height: 18px;
  }
  .container {
    padding: 20px;
  }
  .container ol {
    padding: 0 0 0 10px;
  }
  .container td {
    padding: 5px;
  }
}