html,
body {
  width: 100%;
  height: 100vh;
  position: fixed;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-image: radial-gradient(circle 70vw at center, #72c4c8 0%, #73a6b3 47%, #1e8f8f 100%);
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
